{% extends "base.html" %}

{% block title %}Cadastrar item{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
{% endblock %}

{% block content %}
<form action="/register_item" 
      class="item-form" 
      method="POST" 
      enctype="multipart/form-data">
      <h1>Cadastrar Item</h1>

    <label>
        Nome
        <input required placeholder="Ex.: iPhone 14 Pro 256GB"
          name="name" type="text">
    </label>

    <label>
        Categoria
        <select name="category" required>
          <option value="" selected disabled>Selecione uma categoria</option>
          {% for c in categories %}
          <option value="{{ c.category_id }}">{{ c.name }}</option>
          {% endfor %}
        </select>
    </label>


  <label>
    Descrição
    <textarea rows="5" name="description"></textarea>
  </label>

  <h3>Imagens do Item</h3>
  
  <div class="row-2">
    <label>
        <input type="file" name="image_file"
          accept="image/*" required>
    </label>
    <label>
        </label>
  </div>
  
  <button class="btn submit-btn" type="submit">Cadastrar</button>
</form>
{% endblock %}