{% extends "base.html" %}

{% block title %}Leilões Premium{% endblock %}

{% block content %}
<h1>Leilões Premium</h1>
<p>Itens verificados com curadoria especial.</p>
<section class="grid cards">
  <article class="card"><div class="cover"></div><div class="content"><h3><a
          href="auction.html">Rolex Submariner</a></h3><div class="price">R$
        52.000</div></div></article>
  <article class="card"><div class="cover"></div><div class="content"><h3><a
          href="auction.html">Porsche 911</a></h3><div class="price">R$
        620.000</div></div></article>
</section>
{% endblock %}