{% extends "base.html" %}

{% block title %}Vender item{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sell.css') }}">
{% endblock %}

{% block content %}

<form action="/public_auction"
      class="sell-form"
      method="POST"
      enctype="multipart/form-data">

      <h1>Criar leilão</h1>


  <label><h2>Item a ser leiloado</h2></label>
  <select id="item" name="item" required class="small-field">
    <option value="" selected disabled>Selecione um item</option>
    {% for i in items %}
    <option value="{{ i.item_id }}">{{ i.name }}</option>
    {% endfor %}
  </select>

  <h4>Não tem itens cadastrados?
    <a href="{{ url_for('item.item') }}">Cadastrar item</a>
  </h4>

  <label>Preço inicial
    <input required type="number" min="0" placeholder="R$" name="price" class="small-field">
  </label>

  <div class="row-2">
    <label>Valor de Arremate
      <input required type="number" min="0" placeholder="R$" name="buy_now" class="small-field">
    </label>

    <label>Lance Mínimo
      <input required type="number" min="0" placeholder="R$" name="min_bid" class="small-field">
    </label>
  </div>

  <div class="row-2">
    <label>Início
      <input required type="datetime-local" name="start_date">
    </label>

    <label>Fim
      <input required type="datetime-local" name="end_date">
    </label>
  </div>

  <label>Descrição
    <textarea rows="5" id="description" name="description"></textarea>
  </label>

  <h3>Imagem do Item</h3>

  <div class="image-wrapper">
    <img id="item_image"
          src="">
  </div>
  

  <button class="btn submit-btn" type="submit">
    Publicar
  </button>

</form>

<script src="{{ url_for('static', filename='js/item_info.js') }}"></script>
{% endblock %}