{% extends "base.html" %}

{% block title %}Acompanhando{% endblock %}

{% block content %}
<h1>Leilões que estou acompanhando</h1>
<section class="grid cards">
  <article class="card">
    <div class="cover"></div>
    <div class="content">
      <h3><a href="auction.html">Câmera Sony A7 III</a></h3>
      <div class="price">R$ 4.560</div>
      <div class="countdown">Termina em 05:44:10</div>
    </div>
  </article>
  <article class="card">
    <div class="cover"></div>
    <div class="content">
      <h3><a href="auction.html">Nintendo Switch OLED</a></h3>
      <div class="price">R$ 1.780</div>
      <div class="countdown">Termina em 2d 12:20</div>
    </div>
  </article>
</section>
{% endblock %}